.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 15px;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-right {
  align-items: center;
  position: relative;
}


.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.menu-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.text {
  transform: translateX(55px);
  transition: all 0.5s;
}

.menu-btn:hover .icon {
  width: 175px;
}

.menu-btn:hover .text {
  opacity: 0;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:active .icon {
  transform: scale(0.85);
}

/* Mobile styles */
@media (max-width: 500px) {
  .main-header {
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 12px;
    gap: 5px;
    box-sizing: border-box;
  }

  .title {
    font-size: 26px;
  }

  .menu-btn {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .subtitle {
    display: none;
  }
}